$color-primary:     #0068DA;
$color-text:        #354556;
$color-bg:          #f2f2f2;
$color-border:      #ced5d9;

$font-family: 'Open sans', 'Droid Sans', 'Helvetica Neue', 'HelveticaNeue', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
